header h1 {
    text-align: center;
}

#btn {
    display:flex;
    justify-content:center;
}

#container {
    display:flex;
    flex-direction: column;
    align-items:center;

}

#log {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    height: 290px;
    overflow-y:scroll;
    

}

.container-div {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    align-items:center;
    justify-content: center;
    padding: 10px;
    width: 25%;
    height:auto;
}

#game-score {
    display:flex;
}

#you {
    margin-right: 10px;
}

#opp {
    margin-left: 10px;
}

#options {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#options button {
    margin-top: 10px;
    margin-bottom: 10px;
}